@use "./partials/variables.scss" as *;

// # generics
body {
  font-family: "Nunito", sans-serif;
}

// fluid images
img {
  max-width: 100%;
  height: auto;
  display: block;
}

// link reset
a {
  text-decoration: none;
  color: inherit;
}

// button
button {
  cursor: pointer;
}

// list reset
ul {
  list-style-type: none;
}

// # utils

.offset-bg {
  outline: 1px solid $blue-800;
  border: 0;
  border-radius: 10px;

  position: relative;
  top: 0;
  right: 0;
  z-index: 1;

  &:after {
    content: "";
    width: 100%;
    height: 100%;

    border-radius: 10px;

    position: absolute;
    top: 4px;
    left: 4px;
    z-index: -1;
    transition: 0.2s;
  }
}

// flex utils
.fb-10 {
  flex-basis: 10%;
}
.fb-20 {
  flex-basis: 20%;
}
.fb-25 {
  flex-basis: 25%;
}
.fb-30 {
  flex-basis: 30%;
}
.fb-40 {
  flex-basis: 40%;
}
.fb-50 {
  flex-basis: 50%;
}
.fb-60 {
  flex-basis: 60%;
}
.fb-70 {
  flex-basis: 70%;
}
.fb-80 {
  flex-basis: 80%;
}
.fb-90 {
  flex-basis: 90%;
}
