// ? higher the number, darker the color

// # Primary (Blue)
$blue-50: #e6ecf9;
$blue-100: #d2dcf4;
$blue-200: #a1b5e8;
$blue-300: #7491dd;
$blue-400: #426bd1;
$blue-500: #2b50b0;
$blue-600: #22408b;
$blue-700: #1a316b;
$blue-800: #0b1038;
$blue-900: #091125;

// # Secondary (Purple)
$purple-50: #f1f0fa;
$purple-100: #e2e1f4;
$purple-200: #c5c3ea;
$purple-300: #a9a5df;
$purple-400: #8e88d5;
$purple-500: #716aca;
$purple-600: #4840b5;
$purple-700: #363087;
$purple-800: #24205a;
$purple-900: #12102d;

// # Black
$black-50: #ffffff;
$black-100: #e8e8e8;
$black-200: #a7aebe;
$black-300: #596fa6;
$black-400: #283b6c;
$black-500: #091125;
$black-600: #121b30;
$black-700: #1e2638;
$black-800: #303440;
$black-900: #434342;

// # Green
$green-50: #ebfaf7;
$green-100: #d7f4ee;
$green-200: #abe8dc;
$green-300: #83ddcb;
$green-400: #57d1b9;
$green-500: #34bfa3;
$green-600: #299882;
$green-700: #207463;
$green-800: #154c41;
$green-900: #0b2822;

// # Red
$red-50: #feecec;
$red-100: #fdddde;
$red-200: #fbbcbe;
$red-300: #f89699;
$red-400: #f67478;
$red-500: #f45358;
$red-600: #f0141b;
$red-700: #b60c11;
$red-800: #7d080c;
$red-900: #3e0406;
